<!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label" for="user-name">Name: </label>
      <input class="form-control" id="first-name" type="text" formControlName="userName"  [ngClass]="{ 'is-invalid': submitted && f['userName'].errors }">
      <div *ngIf="submitted && f['userName'].errors" class="invalid-feedback">
        <div *ngIf="f['userName'].errors['required']">userName is required</div>
        <div *ngIf="f['userName'].errors['minlength']">
            Username must be at least 4 characters long.
          </div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="email">Email: </label>
      <input class="form-control" id="email" type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors['required']">Email is required</div>
      </div>
    </div>
    
      <div class="mb-3">
        <label class="form-label" for="password">Password: </label>
        <input class="form-control" id="password" type="text" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
          <div *ngIf="f['password'].errors['required']">Password is required</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="confirmPassword">Confirm Password: </label>
        <input class="form-control" id="confirmPassword" type="text" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }">
        <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
          <div *ngIf="f['confirmPassword'].errors['required']">Password is required</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="city">City: </label>
        <input class="form-control" id="city" type="text" formControlName="city" [ngClass]="{ 'is-invalid': submitted && f['city'].errors }">
        <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
          <div *ngIf="f['city'].errors['required']">City is required</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="address">Address: </label>
        <input class="form-control" id="address" type="text" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f['address'].errors }">
        <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
          <div *ngIf="f['address'].errors['required']">Address is required</div>
        </div>
      </div>
    <button class="btn btn-primary" type="submit" [disabled]="!profileForm.valid">Submit</button>
  
  </form> -->

  
<div class="container">
    <form [formGroup]="registerForm">  
     <div class="form-group">
       <label for="" class="form-label">UserName</label>  
       <input formControlName="userName" type="text" class="form-control" id="userName"  name="UserName" [(ngModel)]="signupObj.userName" required minlength="5">
        <small *ngIf="registerForm.hasError('required','userName') && registerForm.controls['userName'].dirty" class="text-danger">*UserName is Required</small> 
     </div> 
    
     <!-- <div class="form-group">
       <label for="" class="form-label">Email</label>  -->
   
       <div class="form-group">
         <label for="email" class="form-label">Email</label>
         <input formControlName="email" type="email" class="form-control" id="email" name="Email" [(ngModel)]="signupObj.email">
         <small *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.dirty" class="text-danger">*Email is Required</small>
         <small *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.dirty" class="text-danger">*Invalid email format</small>
         <small *ngIf="registerForm.get('email')?.hasError('invalidEmail') && registerForm.get('email')?.dirty" class="text-danger">*Invalid email domain. Only .com, .in, .net are allowed</small>
     </div>
     
   
   
   
       <!-- <input formControlName="email" type="email" class="form-control" id="email" name="Email" [(ngModel)]="signupObj.email"> 
         <small *ngIf="registerForm.hasError('required','email') && registerForm.controls['email'].dirty" class="text-danger">*Email is Required</small> -->
   
        <!-- <small *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').dirty" class="text-danger">*Email is Required</small>
     <small *ngIf="registerForm.get('email').hasError('email') && registerForm.get('email').dirty" class="text-danger">*Invalid email format</small>
     <small *ngIf="registerForm.get('email').hasError('invalidEmail') && registerForm.get('email').dirty" class="text-danger">*Invalid email domain. Only .com, .in, .net are allowed</small> --> 
       <!-- <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
         <div *ngIf="registerForm.controls['email'].hasError('required','email')">Email is required.</div>
         <div *ngIf="registerForm.controls['email'].hasError('required','email')">Invalid email format.</div>
       </div>  --> 
     
     <div class="form-group"> 
       <label for="" class="form-label">Password</label>
       <input formControlName="password" type="password" class="form-control" id="password" name="Password" aria-hidden="true" [(ngModel)]="signupObj.password">
       <small *ngIf="registerForm.hasError('required','password') && registerForm.controls['password'].dirty" class="text-danger">*Password is Required</small>
     </div>
     <div class="form-group">
       <label for="" class="form-label">ConfirmPassword</label>  
       <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword" name="ConfirmPassword" aria-hidden="true" [(ngModel)]="signupObj.confirmPassword">
       <small *ngIf="registerForm.hasError('required','confirmPassword') && registerForm.controls['confirmPassword'].dirty" class="text-danger">*ConfirmPassword is Required</small>
     </div>
     <div class="form-group">
       <label for="" class="form-label">City</label>
       <input formControlName="city" type="text" class="form-control" id="city" name="City" [(ngModel)]="signupObj.city">
       <small *ngIf="registerForm.hasError('required','city') && registerForm.controls['city'].dirty" class="text-danger">*City is Required</small>
     </div>
     <div class="form-group"> 
       <label for="" class="form-label">Address</label>   
       <input formControlName="address" type="text" class="form-control" id="address" name="Address" [(ngModel)]="signupObj.address">
       <small *ngIf="registerForm.hasError('required','address') && registerForm.controls['address'].dirty" class="text-danger">*Address is Required</small>
     </div>
     <button type="submit" class="btn btn-primary" (click)="AddSignUp()">Register</button>   
   </form> 
    
   
    
   
    