<!-- <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">ProductName</th>
                            <th scope="col">Cost</th>
                            <th scope="col">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="" *ngFor="let item of cartItems">
                            <td scope="row">{{item.productName}}</td>
                            <td>{{item.productPrice}}</td>
                            <td>{{item.productQuantity}}</td>
                            <td><button type="button" class="btn btn-danger" (click)="deleteCartItem(item.id)">Remove</button></td>
                        </tr>
                        
                    </tbody>
                </table>

                <button type="button" routerLink="/orders" class="btn btn-primary">Place Order</button>
            </div>
            
        </div>
    </div>
</div> -->


<div class="container">

    <div class="cart-items">

    <div class="cart-item" *ngFor="let item of cartItems">

    <div class="item-img">

    <img src="https://source.unsplash.com/random/200x200?{{item.productName}}" alt="Product Image">

    </div>

    <div class="item-details">

    <h5 class="item-name">{{item.productName}}</h5>

    <p class="item-desc"></p>

    <p class="item-price">{{item.productPrice| currency:'INR':'symbol-narrow':'2.2-2' }}</p>

    <p>Quantity:{{item.productQuantity}} </p>

    <button class="btn btn-dark" (click)="deleteCartItem(item.id)">Delete</button>

    </div>

    </div>

    </div>

    <div class="cart-summary">

    



        <button type="button" class="btn btn-dark" routerLink="/orders">Checkout</button>
 </div>

</div>