<!-- <div class="container">
    <div class="row">
        <div class="col-md-7 offset-2 mt-4"> -->
            <!-- <div class="table-responsive">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">ProductName</th>
                            <th scope="col">ProductDescription</th>
                            <th scope="col">Price</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="" *ngFor="let product of products">
                            <td scope="row">{{product.name}}</td>
                            <td>{{product.description}}</td>
                            <td>{{product.price}}</td>
                            <td><button type="button" class="btn btn-primary" [routerLink]="['/viewProduct', product.productId]" >View</button></td>
                        </tr>
                       
                    </tbody>
                </table>
            </div> -->
            <!-- <div class="row">
               <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="card" style="width: 18rem;" *ngFor="let product of products">
                <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-14-pro-model-unselect-gallery-2-202209_GEO_EMEA?wid=5120&hei=2880&fmt=p-jpg&qlt=80&.v=1660753617539" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{product.name}}</h5>
                  <p class="card-text">{{product.price}}<p>
                  <a href="#" class="btn btn-primary" [routerLink]="['/viewProduct', product.productId]">View</a>
                </div>
              </div>
              </div>
            </div> -->


            
        <!-- </div>
    </div>
</div> -->

<h2 style="text-align: center;">Our Products</h2>

<div class="row row-cols-3 g-3">
    <div class="col" *ngFor="let product of products">
      <div class="card">
        <!-- <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-14-pro-model-unselect-gallery-2-202209_GEO_EMEA?wid=5120&hei=2880&fmt=p-jpg&qlt=80&.v=1660753617539" class="card-img-top"
          alt="IPhone14" /> -->
          <img src="https://source.unsplash.com/random/200x200?{{product.name}}">  
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">
            {{product.price}}
          </p>
          <a class="btn btn-primary" [routerLink]="['/viewProduct', product.productId]">View</a>
        </div>
      </div>
    </div>
    
  </div>